@charset "utf-8";
	
	/*===== 表单 =====*/
		input[type="text"],
		select,
		textarea{-webkit-appearance:none; line-height:19px; color:#555;}

		input:hover,
		select:hover,
		textarea:hover{border-color:#B9B9B9; outline:none;}
		
		input:focus,
		select:focus,
		textarea:focus{border-color:#EE4272; outline:none;}

			input{
				padding:5px;
				border:1px solid #D8DCE5;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7F7F7),color-stop(0%,#F2F2F2),color-stop(10%,#FFFFFF),color-stop(100%,#FFFFFF));
			}

			select{
				padding:4px 25px 4px 5px;
				border:1px solid #D8DCE5;
				background:#FFF url("../img/bg_select.png") no-repeat 100% 50%;
			}
			select:focus{background-image:url("../img/bg_select_on.png");}
			.sel_mini{width:50px!important;}

			textarea{
				padding:5px;
				border:1px solid #D8DCE5;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7F7F7),color-stop(0%,#F2F2F2),color-stop(5%,#FFFFFF),color-stop(100%,#FFFFFF));
			}